{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup templates
 */
#}
{% set error_page_title = 'Page Not Found!!' %}
{% if breadcrumb %}
<div class="container">
    <div class="row">
        <div class="col-md-12 breadcrumb-container">
            <ol class="breadcrumb">
                {% if current_page_title != error_page_title %}
                {% for item in breadcrumb %}
                    <li {{ item.attributes }}>
                        {% if item.url %}
                            <a tabindex="0" href="{{ item.url }}">{% if loop.first %} <span class="sr-only">Maritime home page</span>
                                    <i class="icon ion-home"></i> {% else %}{{ item.text }} {% endif %}</a>
                        {% else %}
                            {{ item.text }}
                        {% endif %}
                    </li>
                {% endfor %}
                {% else %}
                <li><a tabindex="0" href="{{ item.url }}"> <span
                                class="sr-only">Maritime home page</span><i class="icon ion-home"></i></a></li>
                <li tabindex="-1" class="active">{{ current_page_title }}</li>
                {% endif %}
            </ol>
        </div>
    </div>
</div>
{% endif %}
